body {
  background-color: white;
}

h1 {
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 48px;
  text-align: center;
}

.row {
  color: white;
  background-color: black;
  align-items: center;
  padding: : 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#triangle_down {
    width: 400px;
    height: 100px;
    border-top: 500px solid #000000;
    border-left: 500px solid #ffffff;
    border-right: 500px solid #ffffff ;
    align-items: center;
    position: absolute;
    left: 110px;
    top: 20px;
    z-index: -12;
    margin-top: 100px;

}

.col-md-20
{
   position: relative;
   display: inline-block;
   min-height: 1px;
   height: 60px;
   width: 200px;
   background-color: #949494;
   margin: 5px;
   text-align: center;
   text: #ffffff;
   text-transform: capitalize;
   font-weight: bold;
   margin-left: 22px;
   font-size: 20px;
   font-family: 'Righteous', cursive;
   letter-spacing: .05em;


}

.categories .btn, .categories .btn:hover {
    color: #000000;
    text-transform: uppercase;
    background-color: white;
    font-size: 15px;
    padding-top: 17px;
    font-family: 'Righteous', cursive;

}
.tiles button:hover {
    background-color: #ffffff;

}
.ticker {
    z-index: 5;
    position: relative;
    text-align: center;
    font-family: scoreboard;
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #bbb308;
}

.categories {
  /*position: relative;*/
  display: inline;
  min-height: 1px;
  height: 60px;
  width: 200px;
  /*background-color: #949494;*/
  margin: 5px;
  text-align: center;
  text: #ffffff;
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 0px;
