.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
   position: relative;
   display: inline-block;
   min-height: 1px;
   height: 100px;
   width: 200px;
   background-color: grey;
   margin: 4px;
   text-align: center;
   text: #ffffff;
   text-transform: capitalize;
   font-weight: bold;
}
.col-xs-20 {
   width: 20%;
   float: left;
}
.ticker {
    width: 100px;
    height: 100px;
    background-color: red;
}
